.punkts{
    background-image: url('../images/ourPlusBGI.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 189px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.punktsAll{
    padding-top: 25px;
    margin-bottom: auto;
    width: 916px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    align-items: center;
}

.punkt{
    text-align: center;
}

.punkt img{
    margin-left: auto;
    margin-right: auto;
}
.punkt p{
    margin-top: 7px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}